{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Indie+Flower&family=Jua&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/landingPage/main.css' %}>
    <title>VedIQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="home">
        <header>
            <nav>
                <p>VedIQ</p>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="http://127.0.0.1:8000/accounts/login">Login</a></li>
                </ul>
                <div class="nav-button">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>
            <div class="dropdown">
                <ul>
                    <li><a href="" class="dropdown-a">About Us</a></li>
                    <li><a href="" class="dropdown-a">Features</a></li>
                    <li><a href="" class="dropdown-a">Contact Us</a></li>
                    <li><a href="http://127.0.0.1:8000/accounts/login" class="dropdown-a">Login</a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div class="title">VedIQ</div>
                <div class="description">
                    AI Powered Cloud-Based School Management Software <br>
                    VedIQ helps teachers to create and conduct tests for their students using Generative AI.
                </div>
                <div class="buttons">
                    <a href="">Get started</a>
                    <a href="">Contact us</a>
                </div>
            </div>
            <div class="image">
                <img src="../../static/images/home/1.png" alt="">
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffd700" fill-opacity="1" d="M0,192L34.3,197.3C68.6,203,137,213,206,181.3C274.3,149,343,75,411,85.3C480,96,549,192,617,213.3C685.7,235,754,181,823,170.7C891.4,160,960,192,1029,218.7C1097.1,245,1166,267,1234,256C1302.9,245,1371,203,1406,181.3L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

    <div class="about">

        <div class="container">
            <div class="left">
                <div class="title">
                    AI Powered School Management Software
                </div>
                <div class="description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Illum libero assumenda quibusdam quae veritatis, mollitia 
                    id fugit officia vel laudantium soluta. Consequuntur, ad 
                    blanditiis! Veritatis ducimus dolorem vero temporibus at 
                    quos in, obcaecati placeat eos saepe. Cum dolorem sapiente
                </div>
            </div>
            <div class="right" id="about-img-1">
                <img src="../../static/images/about/1.png" alt="">
            </div>
        </div>

        <div class="container" id="container2">
            <div class="left" id="about-img-2">
                <img src="../../static/images/about/2.png" alt="">
            </div>
            <div class="right">
                <div class="title">
                    Why VedIQ?
                </div>
                <div class="description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Deserunt adipisci consequuntur quibusdam in est eveniet 
                    quam officia earum ducimus voluptate!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Cumque, repudiandae.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Reprehenderit, animi!
                </div>
            </div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,96L34.3,112C68.6,128,137,160,206,176C274.3,192,343,192,411,165.3C480,139,549,85,617,85.3C685.7,85,754,139,823,149.3C891.4,160,960,128,1029,144C1097.1,160,1166,224,1234,224C1302.9,224,1371,160,1406,128L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>

    <div class="features">
        <div class="main-title">
            Our Features
        </div>
        <div class="main-description">
            Get everything you'll ever need to manage your paperwork.
        </div>
        <div class="container">
            <div class="feature">
                <div class="icon">
                    <img src="../../static/images/features/1.png" alt="">
                </div>
                <div class="title">
                    Feature 1
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officia!
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="../../static/images/features/2.png" alt="">
                </div>
                <div class="title">
                    Feature 2
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officia!
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="../../static/images/features/3.png" alt="">
                </div>
                <div class="title">
                    Feature 3
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officia!
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <img src="../../static/images/features/4.png" alt="">
                </div>
                <div class="title">
                    Feature 3
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, officia!
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
    <svg class="footer-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,128L26.7,117.3C53.3,107,107,85,160,112C213.3,139,267,213,320,224C373.3,235,427,181,480,160C533.3,139,587,149,640,160C693.3,171,747,181,800,165.3C853.3,149,907,107,960,96C1013.3,85,1067,107,1120,101.3C1173.3,96,1227,64,1280,80C1333.3,96,1387,160,1413,192L1440,224L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>
    <footer>
        <div class="contact">
            <div class="contact-title">
                Contact Us
            </div>
            <form method="post">
                <input type="email" name="email" placeholder="Your email address">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="footer-title">
            VedIQ.com
        </div>
        <div class="footer-links">
            <a href="">About Us</a>
            <a href="">Features</a>
            <a href="">Contact Us</a>
        </div>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="copyright">
            Copyright ©2025 All rights reserved
        </div>
    </footer>

    <script>
        document.querySelector(".nav-button").addEventListener("click", function(){
            const dropdown = document.querySelector(".dropdown")
            const body = document.querySelector("body")
            if (dropdown.style.display == "flex"){
                dropdown.style.display = "none"
                body.style.overflowY = "auto"
            }
            else{
                dropdown.style.display = "flex"
                body.style.overflowY = "hidden"
            }
        });

        const dropdownLinks = document.querySelectorAll('.dropdown a');
        dropdownLinks.forEach(link => {
            link.addEventListener('click', (event) => {
                const dropdown = document.querySelector(".dropdown")
                const body = document.querySelector("body")
                if (dropdown.style.display == "flex"){
                    dropdown.style.display = "none"
                    body.style.overflowY = "auto"
                }
            });
        });
    </script>
</body>


</html>