{% extends "schools/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/assessment/preview.css' %}">
{% endblock style %}

{% block sidebarButtons %}
    <div class="sidebar-button sb-assessment" data-target="section-assessment">Assessments</div>
    <div class="sidebar-button sb-assessment-comp" data-target="section-assessment-comp">Competition</div>
    <div class="sidebar-button sb-events" data-target="section-events">Events</div>
    <div class="sidebar-button sb-attendance" data-target="section-attendance">Attendance</div>
{% endblock sidebarButtons %}

{% block content %}
<div class="content-section section-assessment">
	<div class="content-section-title">Assessments</div>
	<div class="see-assessment-container">

    </div>
    <div id="preview-assessment">

    </div>
    <div class="assessment-result">
    </div>
</div>

<div class="content-section section-assessment-comp">
	<div class="content-section-title">Competition Assessments</div>
	<div class="see-assessment-container">

    </div>
    <div id="preview-assessment-comp" class="preview-assessment-comp">

    </div>
    <div class="assessment-result">
    </div>
</div>

<div class="content-section section-events">
	<div class="content-section-title">Events</div>
	<div class="see-events-container">

	</div>
</div>

<div class="content-section section-attendance">
	<div class="content-section-title">Attendance</div>
	<form>
		{% csrf_token %}
	</form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/schools/dash-student.js' %}"></script>
{% endblock %}